<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{{ get_url(path='pico.min.css', trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) }}">
    <script src="https://cdnapp.websitepolicies.net/widgets/cookies/mzad7vzz.js" defer></script>
    <title>{%block title %}{%endblock title%}</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

    :root {
        --pico-font-family: "IBM Plex Serif", serif;
    }
</style>

<body>
    <main class="container">
        {% include 'layout/navbar.html' %}
        {% block content %} {% endblock %}
    </main>

    <script lang="js" src='{{ get_url(path="script.js", trailing_slash=false) }}'></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8LBRDGLXJV" defer></script>
    <script defer>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8LBRDGLXJV');
    </script>
</body>

</html>