{% extends "base.html" %}

{% block title %}
Mohamed Nossirat | Home
{% endblock title %}

{% block content %}
<div class="img-profile-wrapper">
  <div class="circle"></div>
  <img src="{{ get_url(path="photo.jpeg", trailing_slash=false) }}" />
</div>

<div style="text-align: center;
	align-content: center; margin-top: 40px;">
  <h1>Mohamed Nossirat</h1>
  <h6>Software ingeneer <a href="https://munityapps.com">@Munity</a></h6>
  <div>
    <a href="https://github.com/malnossi">Github</a>
    <a href="https://gitlab.com/mohamed.w.nossirat">Gitlab</a>
    <a href="www.linkedin.com/in/mohamed-waheeb-al-nossirat">Linkedin</a>
  </div>
</div>
{% endblock content %}