.img-profile-wrapper {
    margin: auto;
    border-radius: 50%;
    position: relative;
    width: 270px;
    height: 270px;
}

.img-profile-wrapper .circle {
    filter: drop-shadow(0 0 5px rgba(202, 228, 225, 0.4)) drop-shadow(-5px 0 5px rgba(244, 186, 114, 0.5)) drop-shadow(5px 0 5px rgba(244, 186, 114, 0.5));
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: rgb(244, 186, 114);
    width: inherit;
    height: inherit;
    animation: fluid-border 4s ease-in-out infinite, skew 6s linear infinite;
}

.img-profile-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
}

@keyframes skew {
    0% {
        transform: skew(0deg) rotate3D(0, 0, 1, 0deg);
    }

    25% {
        transform: skew(6deg) rotate3D(0, 0.1, 1, 90deg);
    }

    50% {
        transform: skew(3deg) rotate3D(0, 0, 1, 190deg);
    }

    75% {
        transform: skew(5deg) rotate3D(0, 0.2, 1, 270deg);
    }

    100% {
        transform: skew(1deg) rotate3D(0, 0, 1, 360deg);
    }
}

@keyframes fluid-border {
    0% {
        border-radius: 165px 200px 180px 160px;
    }

    25% {
        border-radius: 200px 150px 190px 200px;
    }

    50% {
        border-radius: 190px 200px 100px 186px;
    }

    75% {
        border-radius: 200px 175px 151px 180px;
    }

    100% {
        border-radius: 165px 200px 180px 160px;
    }
}

.transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}