{# templates/injects/head_end.html #}
<meta name="author" content="Mohamed Nossirat">
<meta property="article:author" content="Mohamed Nossirat">
<meta name="twitter:creator" content="Mohamed Nossirat">
{% if config.extra.analytics and config.extra.analytics.ga_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.analytics.ga_id }}"></script>
<script>
  // (Optional) default deny until consent tool flips it to granted
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('consent', 'default', { analytics_storage: 'denied' });
  gtag('js', new Date());
  gtag('config', '{{ config.extra.analytics.ga_id }}', {
    anonymize_ip: true
  });
</script>

{% endif %}